@model SimpleLogin.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountSummary</title>
</head>
<body>
    <div> 
        <div id="logout_div">@Html.ActionLink("Logout", "Logout", "Login")</div>
        <table>
            <tr>
                <td>Username:</td>
                <td>@Model.Username</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>@Model.FirstName</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>@Model.LastName</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>Joined:</td>
                <td>@Model.Joined</td>
            </tr>
        </table>
    </div>
</body>
</html>
